<div id="game">
<h1>Blackjack</h1>
<% if total(session[:player_hand]) == 21 %>
	<% @success = "#{session[:username]} got blackjack!" %>
	<% @hit_or_stay_buttons = false %>
	<% win %>
	<% @new_game = true %>
<% end %>
    <%if @error %>
      <div class="alert alert-error"><%=@error%></div>
    <% end %>
    <% if @success %>
      <div class="alert alert-success"><%=@success%></div>
      <% end %>
    <% if @new_game %>
        <div class="container">
          <p><%= "Bankroll is now $ #{session[:bankroll]}." %></p>
          <a href="/wager" class="btn btn-primary">Play Again?</a>
        </div>
  <% end %>
<div class="well">
	<h3>Dealer's Cards</h3>
	<p>
		<% if @dealer_turn %>
			<% session[:dealer_hand].each do |card| %>
				<%= card_image(card) %>
			<% end %>
			<% if total(session[:dealer_hand]) < 17 %>
				<form method="post" action="/game/dealer/turn" id="dealer-form">
					<input type="submit" value="See the dealer's next card" class="btn btn-primary">
				</form>
			<% else %>
				<% redirect '/compare-scores' %>
			<% end %>
			<p>Dealer's score is <%= total(session[:dealer_hand]) %></p>
		<% elsif @new_game %>
			<% session[:dealer_hand].each do |card| %>
				<%= card_image(card) %>
			<% end %>
		<% else %>
			<%= "<img src='/images/cards/cover.jpg'>" %>
			<%= card_image(session[:dealer_hand][1]) %>
		<% end %>
	</p>
</div>

<div class="well">
	<h3><%= session[:username] + "'s Cards" %></h3>
	<p><% session[:player_hand].each do |card| %>
		<%= card_image(card) %>
	<% end %>
	<p><%= "#{session[:username]} has $#{session[:bankroll]} and has bet $#{session[:wager]} on this game." %>
	</p>
</div>

<p><%= session[:username] + "'s score is " + total(session[:player_hand]).to_s + ". What do you want to do?" %></p>

<% if @hit_or_stay_buttons %>
<form action="/game/hit" method="post" id="hit-form">
	<input type="submit" value="Hit" class="btn btn-success">
</form>
<form action="/game/stay" method="post" id="stay-form">
	<input type="submit" value="Stay" class="btn btn-warning">
</form>
<% end %>
</div>